services:
  - type: web
    name: live-polling-system-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: development
      - key: MONGODB_URI
        scope: run_and_build
      - key: PORT
        value: 5000
      - key: CORS_ORIGIN
        value: https://resilient-live-polling-system-nine.vercel.app
