services:
  - type: web
    name: live-polling-system-backend
    runtime: node
    plan: free
    region: oregon
    rootDir: ./backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: CORS_ORIGIN
        value: https://resilient-live-polling-system-nine.vercel.app
      - key: PORT
        value: 5000
